/* ============================================================================
   AUTHOR FOOTER - Блок информации об авторе
   ============================================================================ */

.author-footer {
  /* padding: 60px 0 80px 0; */
  padding-bottom: 80px;
  padding-top: 60px;
}
.author-footer[class*='pt-'] {
  padding-top: unset;
}

.author-footer__content {
  max-width: 948px;
  width: 100%; /* добавлено */
}

/* Name */
.author-footer__name {
  /* font-size: 35px;
  font-weight: 700; */
  margin: 0 0 20px 0;
  line-height: 1.2;
}

/* Specialization */
/* .author-footer__specialization { */
/* font-size: 28px;
  font-weight: 500; */
/* margin: 0 0 25px 0; */
/* line-height: 1.3; */
/* } */

/* Description */
/* .author-footer__description { */
/* font-size: 22px;
  font-weight: 500; */
/* line-height: 1.5; */
/* margin: 0 0 30px 0;
} */

/* .author-footer__description p {
  margin: 0 0 15px 0;
} */

/* .author-footer__description p:last-child {
  margin-bottom: 0;
} */

/* Social links */
.author-footer__social {
  display: flex;
  gap: 15px;
  align-items: center;
}

.author-footer__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  color: var(--color-black);
  transition: all 0.3s ease;
}

.author-footer__social-link:hover {
  /* color: #E2C08D; */
  color: var(--brand-accent);
  transform: translateY(-2px);
}
.author-footer__social-link img,
.author-footer__social-link svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}
/* .author-footer__social-link svg {
  width: 50px;
  height: 50px;
} */

/* .author-footer__content {
  margin-inline: auto;
} logo слева*/
/* ============================================================================
   RESPONSIVE
   ============================================================================ */

@media (min-width: 1200px) {
  .author-footer__content {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .author-footer {
    padding: 40px 0 60px 0;
  }

  /* .author-footer__name {
    font-size: 28px;
  }

  .author-footer__specialization {
    font-size: 22px;
  }

  .author-footer__description {
    font-size: 18px;
  } */

  .author-footer__social-link {
    width: 40px;
    height: 40px;
  }

  .author-footer__social-link svg {
    width: 40px;
    height: 40px;
  }
}
