/* =========================
   BENEFITS
   ========================= */

.benefits {
  position: relative;
}

.benefit-card {
  padding: 12px; /* меньше отступы внутри */
  text-align: left;
}

.benefit-head {
  display: flex;
  flex-direction: column; /* >=768: иконка сверху */
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 12px;
}

.benefit-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.benefit-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

/* Divider */
.benefit-divider {
  width: 100%;
  max-width: 158px;
  border-bottom: 1px solid var(--brand-text);
  height: 0;
  /* margin: 0 auto 12px; центр + отступ вниз */
  margin: 0 0 12px 0; /* слева */
}

/* <768: иконка + заголовок в одну строку */
@media (max-width: 768px) {
  .benefits {
    text-align: left;
  }

  .benefit-card {
    padding: 10px;
    text-align: left;
  }

  .benefit-head {
    flex-direction: row; /* в одну линию */
    justify-content: flex-start; /* уже не по центру */
    align-items: center;
    gap: 12px;
  }

  .benefit-head h3 {
    text-align: left;
  }
  .benefit-divider {
    /* margin-left: auto;
    margin-right: auto; 
    display: none;
    /* margin-left: 0;
    margin-right: 0; */
    display: none;
  }
}
