/* Full Width Image Section Styles */

.fullwidth-image {
  width: 100%;
  overflow: hidden;
}

.fullwidth-image__wrapper {
  position: relative;
}

.fullwidth-image__img {
  width: 100%;
  max-height: 950px;
  height: auto;
  /* height: 520px; */
  display: block;
  /* object-fit: cover; */
}

@media (max-width: 991px) {
  .fullwidth-image__img {
    /* height: 360px; */
    max-height: 600px;    /*  уменьшаем  */
    }
}

@media (max-width: 768px) {
  .fullwidth-image__img {
    max-height: 500px;
     /* object-fit: cover; */
    min-height: 0;
  }
}

@media (max-width: 576px) {
  .fullwidth-image__img {
    max-height: 350px;    /* ниже, чтобы секция была компактнее */
  }
}
