/* Full Width Image Section Styles */

.fullwidth-image {
  width: 100%;
  overflow: hidden;
}

.fullwidth-image__wrapper {
  position: relative;
}

.fullwidth-image__img {
  width: 100%;
  max-height: 950px;
  height: auto;
  /* height: 520px; */
  display: block;
  /* object-fit: cover; */
}

/* .fullwidth-image__placeholder {
  width: 100%;
} */

/* With overlapping images - need container and relative positioning */
/* .fullwidth-image--with-overlaps {
  padding: 100px 0;
}

.fullwidth-image--with-overlaps .fullwidth-image__wrapper {
  position: relative;
}

.fullwidth-image--with-overlaps .fullwidth-image__img,
.fullwidth-image--with-overlaps .fullwidth-image__placeholder {
  border-radius: 50px;
} */

/* Overlapping images */
/* .fullwidth-image__overlap {
  position: absolute;
  z-index: 2;
}

.fullwidth-image__overlap img,
.fullwidth-image__overlap-placeholder {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* Position: top-right */
/* .fullwidth-image__overlap--top-right {
  top: -100px;
  right: 10%;
} */

/* Position: bottom-left */
/* .fullwidth-image__overlap--bottom-left {
  bottom: -100px;
  left: 10%;
} */

@media (max-width: 991px) {
  .fullwidth-image__img {
    /* height: 360px; */
    max-height: 600px;
    /* ИЗМЕНЕНИЕ: уменьшаем на планшете */
  }
  /*   
  .fullwidth-image--with-overlaps {
    padding: 80px 0;
  }

  .fullwidth-image__overlap--top-right {
    top: -80px;
    right: 5%;
  }

  .fullwidth-image__overlap--bottom-left {
    bottom: -80px;
    left: 5%;
  }

  .fullwidth-image__overlap {
    width: 200px !important;
    height: 133px !important;
  } */
}

@media (max-width: 768px) {
  .fullwidth-image__img {
    max-height: 500px;
    /* object-fit: cover; */
    min-height: 0;
  }

  /* .fullwidth-image--with-overlaps {
    padding: 60px 0;
  } */

  /* .fullwidth-image--with-overlaps .fullwidth-image__img,
  .fullwidth-image--with-overlaps .fullwidth-image__placeholder {
    border-radius: 25px;
  } */

  /* .fullwidth-image__overlap--top-right {
    top: -60px;
    right: 5%;
  }

  .fullwidth-image__overlap--bottom-left {
    bottom: -60px;
    left: 5%;
  }

  .fullwidth-image__overlap {
    width: 150px !important;
    height: 100px !important;
  }

  .fullwidth-image__overlap img,
  .fullwidth-image__overlap-placeholder {
    border-radius: 25px !important;
  } */
}

@media (max-width: 576px) {
  .fullwidth-image__img {
    max-height: 350px;
    /* ИЗМЕНЕНИЕ: ниже на мобиле, чтобы секция была компактнее */
  }
  /* .fullwidth-image--with-overlaps {
    padding: 40px 0;
  }

  .fullwidth-image__overlap {
    display: none;
  } */
}
