/* Promotional Section Specific Styles */

.promotional {
  position: relative;
}

.promotional-image {
  width: 100%;
  max-width: 428px;
}

.promotional-image img {
  display: block;
  width: 100%;
  height: auto; /* десктоп */
  border-radius: 10px;
}

.promotional-content {
  max-width: 100%;
}

.promotional-cta a:hover {
  opacity: 0.8;
}

.promotional-list-title {
  display: inline-block; /*  чтобы margin-bottom работал */
  margin-bottom: 14px; /*  расстояние между названием и пунктами списка */
}

.promotional-bullets {
  list-style: none; /* убрано стандартные маркеры браузера */
  padding-left: 0; /*  убрано стандартный левый отступ ul */
  margin: 0; /* убрано стандартные margin у ul (чтобы отступ был только от заголовка) */
}

.promotional-bullets li {
  position: relative;
  padding-left: 25px; /* место под маркер-галочку */
  margin-bottom: 10px; /* расстояние между пунктами */
}

.promotional-bullets li::before {
  content: '✓'; /* маркер как в секции 3  */

  position: absolute;
  left: 0;
  color: #e2c08d;
  font-weight: bold;
}

/* Responsive adjustments */
@media (max-width: 991px) {
  .promotional .row {
    flex-direction: column;
  }

  .promotional-content {
    padding-left: 0 !important;
    /* margin-bottom: 30px; */
    text-align: center;
    margin-bottom: 0;
  }

  .promotional-content .line-divider {
    margin-left: auto; /*  линия центрируется */
    margin-right: auto;
  }

  .promotional-content .col-12.text-start {
    text-align: center !important; /* переопределяем text-start для кнопки, чтобы она была по центру */
  }

  .promotional-bullets {
    display: inline-block; /* список становится блоком по центру */
    text-align: left; /* пункты списка остаются “ровными” и читаемыми */
  }

  .promotional-image {
    max-width: 240px;
    margin-inline: auto;
  }

  .promotional-image img {
    height: 280px;
    object-fit: cover;
  }
  .promotional .line-divider {
    display: none;
  }
}

@media (max-width: 576px) {
  .promotional-image {
    max-width: 200px; /* как было для placeholder, но теперь работает и для img */
  }
  .promotional-image img {
    height: 240px; /*  фиксируем высоту фото 240px */
  }
}
