/* Services Section Specific Styles */

.services {
  position: relative;
}

.service-card {
  padding: 20px 10px;
}

.services h2 {
    margin-left: auto;    /* заголовок секции  */
    margin-right: auto;    
  }

  
.services-flat .service-image .img-placeholder {
  border-radius: 10px;
}

.service-image {
  display: flex;
  justify-content: center;
}

.service-image img,
.service-image .img-placeholder {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Responsive adjustments */
@media (max-width: 991px) {
  .services {
    text-align: center;    /*  заголовок и текст карточек  */
  }

 

  .service-card {
    /* margin-bottom: 30px; */
    padding: 10px 10px;
  }

  .service-card p {
    margin-left: auto;    /* параграфы в карточках по центру, если есть max-width */
    margin-right: auto;    /* параграфы в карточках по центру */
  }

  /* Reset cascade on tablet */
  /* .services .row > div:nth-child(2) .service-card,
  .services .row > div:nth-child(3) .service-card,
  .services .row > div:nth-child(4) .service-card {
    margin-top: 0;
  } */
}

@media (max-width: 768px) {
  .service-image .img-placeholder {
    width: 100%;
    max-width: 250px;
    height: auto;
    aspect-ratio: 1 / 1;
  }

  .service-image img {
    max-width: 250px;
  }
}

@media (max-width: 576px) {
  .service-image .img-placeholder,
  .service-image img {
    max-width: 200px;
  }

  
}
